services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  weather-producer:
    build:
      context: ./python-app
    container_name: weather-producer
    env_file:
      - ./python-app/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 15s

  worker-go:
    build:
      context: ./worker-go/
    env_file:
      - ./worker-go/.env
    container_name: worker-go
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy
      weather-producer:
        condition: service_healthy

volumes:
  rabbitmq-data:
