services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq


  weather-producer:
    build:
      context: ./python-app
    env_file:
      - ./python-app/.env
    depends_on:
      - rabbitmq
    ports:
      - "8000:8000"

volumes:
  rabbitmq-data: